<html>
<head>
  <h1>This is the User guessing page!!!</h1>
</head>

<body>
  <div id=navbar> 
    <ul> 
      <li><a href="/welcome">Home</a></li> 
      <li><a href="#">Rules</a></li> 
    </ul> 
  </div>
  <%if @counter.to_i > 0 %>
    <p style="text-align: center;">You have <%="#{@counter}"%> questions left.</p>
    <%=form_tag :controller => '/userguessing', :method => :get, :action => 'index'%>
    <%= text_field_tag :ask, params[:ask] ,:id => 'ask_field', :placeholder => 'Ask me a question!', size: '50' %>
    <%= submit_tag "Ask question", :name => nil, :class => 'button'%>
    <h3 style="text-align: center">OR</h3>
  <% else %>
    <p>You're out of questions.</p>
  <% end %>
  <%= hidden_field_tag(:guesses_left,"#{@counter}")%>
  <%= link_to "Guess answer", show_path(), :class=>'button'%>
</body>

</html>
