<html>
<head>
  <h1>Enter A Question Or Guess The Answer</h1>
</head>

<body>
  <div id=navbar> 
    <ul> 
      <li><a href="/welcome">Home</a></li> 
      <li>
        <a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">Rules</a>
        <div id="light" class="white_content">Rules 
<br>
<br>When you get onto the home page, you have two game style choices to pick from to play. 
<br>
<br>When the Computer Guesses 
<br>
<br>Once you choose this mode, you will be directed to the page with a choice of categories. You get to choose either a category as the theme.
<br>Once you have selected your choice, the computer will begin to ask you a series of close-ended (yes/no) questions. The computer will ask 
<br>you up to 20 questions to try to figure out the what the player has chosen. Once it gets to the twentieth question, or what it thinks is
<br>the answer,  the computer will guess what your answer is. If the player indicates that the computer has guessed correctly  a “Win" will
<br>be displayed on the screen. If it loses, there will be a “Lose” on the screen. 
<br>
<br> 
<br>When you Guess 
<br>
<br>Once you choose this mode, you will be directed to the page with a choice of categories. You get to choose a category as the theme.
<br>Once you have selected your choice, you will be prompted to ask a question regarding the category you have chosen. You can ask up 
<br>to 20 close-ended (yes/no) questions, so when you have asked the 20th question and have not yet answered, you will have to guess. 
<br>Although you will be able to guess at any point throughout the game, via the guess button in the corner. Users may guess only one 
<br>time. If you guess correctly, the word “Win” will be displayed on the screen. If you guess incorrectly, you will receive a “Lose.”
          <br> <br> <a href = "javascript:void(0)" style="color: red" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">Click Here To Go Back</a></div>
        <div id="fade" class="black_overlay"></div>
      </li>
    </ul> 
  </div>

  <%if @counter.to_i < 20 %>
    <p>Correct!</p>
  <% end %>
  
  <%if @counter.to_i > 0 %>
    <br>
    <p style="text-align: center; color: red;">You have <%="#{@counter}"%> questions left.</p>    
      </center>
      <p>Enter your question below</p>
      <%=form_tag :controller => '/userguessing', :method => :get, :action => 'index'%> 
      <div id=textField>
        <%= text_field_tag :ask, params[:ask] ,:id => 'ask_field', :placeholder => 'Ask me a question!', size: '50'%>
      </div>
      <br>
      <br>
      <%= submit_tag "Ask question", :name => nil, :class => 'button'%>
      <h3 style="text-align: center">OR</h3>
      <%= link_to "Guess answer", show_path(), :class=>'button'%>
    
  <% else %>
    <br>
    <p>You're out of questions.</p>
    <%= link_to "Guess answer", show_path(), :class=>'button'%>
  <% end %>
  <%= hidden_field_tag(:guesses_left,"#{@counter}")%>
  
</body>

</html>
