<html>
<head>
  <h1>This is the User guessing page!!!</h1>
</head>

<body>
  <div id=navbar> 
    <ul> 
      <li><a href="/welcome">Home</a></li> 
      <li>
        <a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">Rules</a>
        <div id="light" class="white_content">Game rules go in here
          <br> <br> <a href = "javascript:void(0)" style="color: red" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">Click Here To Go Back</a></div>
        <div id="fade" class="black_overlay"></div>
      </li>
    </ul> 
  </div>
  <%if @counter.to_i > 0 %>
    <br>
    <p style="text-align: center; color: red;">You have <%="#{@counter}"%> questions left.</p>    
      </center>
      <p>Enter your question below</p>
      <%=form_tag :controller => '/userguessing', :method => :get, :action => 'index'%> 
      <div id=textField>
        <%= text_field_tag :ask, params[:ask] ,:id => 'ask_field', :placeholder => 'Ask me a question!', size: '50'%>
      </div>
      <br>
      <br>
      <%= submit_tag "Ask question", :name => nil, :class => 'button'%>
      <h3 style="text-align: center">OR</h3>
      <%= link_to "Guess answer", show_path(), :class=>'button'%>
    
  <% else %>
    <br>
    <p>You're out of questions.</p>
    <%= link_to "Guess answer", show_path(), :class=>'button'%>
  <% end %>
  <%= hidden_field_tag(:guesses_left,"#{@counter}")%>
  
</body>

</html>
