<html>
<head>
  <h1>Play Again!</h1>
</head>

<body>
  <div id=navbar>
    <ul> 
      <li><a href="/welcome">Home</a></li> 
      <li>
        <a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">Rules</a>
        <div id="light" class="white_content">Game rules
<br>
<br>When you get onto the home page, you have two game style choices to pick from to play. 
<br>
<br>When the Computer Guesses 
<br>
<br>Once you select this mode, the computer will begin to ask you a series of close-ended (yes/no) questions. The computer will ask 
<br>you up to 20 questions to try to figure out the what the player has chosen. Once it gets to the twentieth question, or what it thinks is
<br>the answer,  the computer will guess what your answer is. If the player indicates that the computer has guessed correctly  a “Win" will
<br>be displayed on the screen. If it loses, there will be a “Lose” on the screen. 
<br>
<br> 
<br>When you Guess 
<br>
<br>Once you select this mode, you will be prompted to ask the computer a yes/no question of your have choice. You can ask up 
<br>to 20 close-ended (yes/no) questions, so when you have asked the 20th question and have not yet answered, you will have to guess. 
<br>Although you will be able to guess at any point throughout the game, via the guess button in the corner. Users may guess only one 
<br>time. If you guess correctly, the word “Win” will be displayed on the screen. If you guess incorrectly, you will receive a “Lose.”
          <br> <br> <a href = "javascript:void(0)" style="color: red" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">Click Here To Go Back</a></div>
        <div id="fade" class="black_overlay"></div>
      </li>
    </ul> 
  </div>
<%if params[:game]=="compguessing" %>
    <h2>
      Computer Guesses: <%="#{@answer}"%>
    </h2>
<%elsif params[:game]=="userguessing"%>
    <h2>
      <%="#{@valid}"%>
    </h2>
    <h2>
      The computer was thinking of: <%="#{@answer}"%>
    </h2>
    <h2>
      Your Guess: <%="#{@guess}"%>
    </h2>

<%end%>


<h2> Would you like to play again? </h2>
<%=link_to "Play Again!",  {:action=>"index", :controller=>"welcome"},:class => 'button'%>

</body>

</html>
