-#  This file is app/views/projects/index.html.haml
%h1 All Project Tasks

%table#projects
  %thead
    %tr
      %th{params[:sort] == "title" ? {:class => "hilite"} : {}, :id => "title_header"}= link_to "Task Title", projects_path(:sort => "title")
      %th Task Details
      %th Assigned User
      %th{params[:sort] == "due_date" ? {:class => "hilite"} : {}, :id => "due_date_header"}= link_to "Due Date", projects_path(:sort => "due_date")
  %tbody
    - @projects.each do |project|
      %tr
        %td= project.title 
        %td= link_to "More about #{project.title}", project_path(project)
        %td= project.user
        %td= project.due_date.to_formatted_s(:long)

= link_to 'Add new project task', new_project_path
