-#  This file is app/views/projects/index.html.haml
%h1 All Project Tasks

%table#projects
  %thead
    %tr
      %th= link_to "Task Title", projects_path(:sort => "title"), :id => "title_header"
      %th Task Details
      %th Assigned User
      %th= link_to "Due Date", projects_path(:sort => "due_date"), :id => "due_date_header"

  %tbody
    - @projects.each do |project|
      %tr
        %td= project.title 
        %td= link_to "More about #{project.title}", project_path(project)
        %td= project.user
        %td= project.due_date.to_formatted_s(:long)

= link_to 'Add new project task', new_project_path
